/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: rgb(102,23,23);
background: radial-gradient(circle, rgba(102,23,23,1) 0%, rgba(87,18,20,1) 23%, rgba(47,5,6,1) 48%, rgba(51,1,3,1) 51%, rgba(15,1,3,1) 100%);
min-height: 100vh;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }