<section>
    <div class="card">
        <div class="img" style="background: url('../../../assets/noi/io.webp'); background-position: center;
        background-size: cover;">
        
        </div>
        <div class="txt">
            <h2>Gabriele</h2>
            <h4>Ruolo</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, nemo repellendus. Culpa modi fugiat labore totam commodi excepturi veritatis optio, recusandae adipisci ullam accusamus perferendis vel, autem possimus? Hic, deserunt?</p>
            <div class="social">
                <button>O</button>
                <button>O</button>
                <button>O</button>
                <button>O</button>
            </div>
         
        </div>
    </div>
    <div class="card">
        <div class="img" style="background: url('../../../assets/noi/mirko.jpg'); background-position: center;
        background-size: cover;">
        
        </div>
        <div class="txt">
            <h2>Giacomo</h2>
            <h4>Ruolo</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, nemo repellendus. Culpa modi fugiat labore totam commodi excepturi veritatis optio, recusandae adipisci ullam accusamus perferendis vel, autem possimus? Hic, deserunt?</p>
            <div class="social">
                <button>O</button>
                <button>O</button>
                <button>O</button>
                <button>O</button>
            </div>
         
        </div>
    </div>
</section>
