<div class="nft">
    <div routerLink="/pg/{{pg.id}}" class='main'>
       <img  class='tokenImage'
            src="../../../../assets/{{pg.race}}.png"
            alt="{{pg.race}}" />
        <h2>{{pg.characterName}}</h2>
        <p class='description'>{{pg.description}}</p>
        <div class='info'>
            <div class="race">
                <div>Razza: </div> 
                <p>{{pg.race}}</p>
            </div>
            <div class="data">
                <ins>◷</ins>
                <p>data creazione</p>
            </div>
        </div>
        <hr />
        <div class='analitics'>
            <ul>
                <li>Forza
                    <br>{{pg.cha}}
                </li>
                <li>Vita
                    <br>{{pg.dex}}
                </li>
                <li>Liv <br>
                1</li>
            </ul>
        </div>
    </div>
</div>