
    <div class="card" routerLink="{{campagna.name}}">
      <div class="wrapper">
        <img height="500px" width="400px" src="../../../../assets/StrahdVonZarovich.webp" class="cover-image" />
      </div>
      <div class="title">
    <h2 >{{campagna.name}}</h2>
      <h4>Difficoltà</h4>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio aliquam quas nihil suscipit perferendis neque voluptatum nemo deleniti modi asperiores cupiditate minima facere necessitatibus animi, aspernatur labore at magnam tenetur!
      </p>
     
      </div>
      <img src="../../../../assets/StrahdVonZarovich.png" class="character" />
    </div>
  
 
