// #sideBar{
//     width: 10vw;
//     height: 100vh;
//     background-color: rgb(22, 22, 54);
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     align-items: center;
//     padding: 30px 0px;
//     color: white;
//     ul{
//         height: 50vh;
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;
//         li{
//         list-style-type: none;
//         button{
//             padding: 10px 15px;
//             &:hover{
//                 background-color: rgb(29, 29, 59);
//                 color: white;
//                 border: white;
//             }
//         }
//     }
// }
// }
// button#svg{
//     background-color: transparent;
//     border: none;
// }
// svg{
//     transform: rotate(180deg);
// }
*,*:before,*:after {
	box-sizing: border-box;
}

:after {
	content: "";
}




body {
  padding: 100px 0;
	background: lightblue;
  color: white;
  max-width:640px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
  line-height:1.4;
  font-smoothing: anti-aliased;
}

nav {
  float: left;
	position: relative;
	top: 0;
  left: 0;
	height: 100vh;
	background: lightgray;
}

nav ul {
	text-align: center;
    max-height: 100vh;
    overflow: hidden;
}
svg,img{
    width: 40px;
    height: 40px;
    fill: black;
    stroke: black;
	background: lightgray;
}
nav ul li {
	position: relative;
  width: 70px;
  cursor: pointer;
	background: lightgray;
	text-transform: uppercase;
	transition:all .4s ease-out;
    padding: 10px;
}

nav ul li:after {
	position: absolute;
	background: white;
	color: crimson;
	top:0;
	left: 70px;
	width: 70px; height: 100%;
  opacity:.5;
  transform: perspective(400px) rotateY(90deg);
	transform-origin: 0 100%;
	transition:all .4s ease-out;
}

#logo:after { 
	content: "ArkaTech";
	line-height: 88px;
}
#home:after { 
	content: "Home";
	line-height: 88px;
}
#who:after { 
	content: "Chi?";
	line-height: 88px;
}
#login:after { 
	content: "Login";
	line-height: 85px;
}

#dashboard:after { 
	content: "Dash";
	line-height: 88px;
}
#creaPg:after { 
	content: "Crea";
	line-height: 88px;
}
#archive:after { 
	content: "Archivio";
	line-height: 88px;
}
#compare:after { 
	content: "Compara";
	line-height: 88px;
}
nav ul li:after{ 
	display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

nav ul li:hover {
	transform: translateX(-70px);
}

nav ul li:hover:after {
  opacity: 1;
	transform: perspective(400px) rotateY(0deg) scale(1) ;
}


nav ul li > div {
	display: inline-block;
	padding: 25px 0;
	background: transparent;
}

nav ul li div { position: relative; }





