*{
    color: white;
}

section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
   padding-left: 100px;
    overflow-x:none;
    button{
        color: black;
    }
    &>div{
       
        &>div{
           padding: 10px;
            display: flex;
           
           
            overflow-x: scroll;
           
        }
       h1{
       
       }
    }
   
}