<section>
    <div>
        <h1 *ngIf="arrayMyCampagne.length==0">Non hai nessuna campagna </h1>
        <h1 *ngIf="arrayMyCampagne.length!=0">Le tue campagne</h1>
        <button routerLink="/campagne/crea">
            Crea una campagna
        </button>
        <div *ngIf="arrayMyCampagne.length!=0" id="campagne">
            <div *ngFor="let campagna of arrayMyCampagne">
                <app-card-campagna [campagna]="campagna"></app-card-campagna>
            </div>
        </div>
       

    </div>
    <div *ngIf="arrayCampagneNotConfirm.length!=0">
        <h1>
            Inviti
        </h1>
        <div>
            <div *ngFor="let invite of arrayCampagneNotConfirm">
                Entra nell avventura {{invite.name}}, creata dal Master {{invite.master}} <button
                    (click)="confirmInvite(invite)">Entra</button>
            </div>
        </div>
    </div>


    <div>
        <h1>Campagne In cui Partecipi</h1>
        <div *ngIf="arrayInCampagne.length!=0" id="campagne">
            <div *ngFor="let campagna of arrayInCampagne">
                <app-card-campagna [campagna]="campagna"></app-card-campagna>
            </div>
        </div>
    </div>


</section>