<div routerLink="crea">
    Crea una campagna 
</div>
<h1>
    Le tue campagne
</h1>
<section>
    <div *ngIf="arrayCampagne.length==0" id="emptyCampagne">
        <h1>Non hai nessuna campagna </h1>
        <div routerLink="crea">
            Crea una campagna 
        </div>
    </div>
    <div *ngIf="arrayCampagne.length!=0" id="campagne">
        <div *ngFor="let campagna of arrayCampagne">
           <app-card-campagna [campagna]="campagna"></app-card-campagna>
        </div>
    </div>
</section>
