section{
    margin: 30px 0px;
}
header {
	background: url('https://wallpaperset.com/w/full/0/f/4/16725.jpg');
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}
header .overlay{
	width: 80vw;
	height: 100%;
	padding: 50px 0px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient( 135deg, #51395f69 10%, #232b536b 100%);
	
}

h1 {
	
	font-size: 70px;
	margin-bottom: 30px;
}

h3, p {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
}

button {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	margin-bottom: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover{
	cursor: pointer;
}

#section1{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    padding: 15px;
    .cardHome{
       
        border-radius: 20px 0px;
        background-color: rgb(63, 29, 29);
        color: whitesmoke;
        margin: 10px 0px;
        img{
            width: 200px;
            border-radius: 50%;
        }
    }
}
#section2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 0px;
    margin: auto;
    #img{
        width: calc(40vw - 20px) ;
        height: 300px;
        min-width: 350px;
        background: url("../../../assets/sfondosection2.jpg");
        background-position: center;
        background-size: contain;
        margin: 0px 10px;
    }
    #text{
        color: white;
        border-radius: 20px 0px;
        padding: 20px 0px;
        width: 40vw;
        height: 300px;
        min-width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        background-color: rgb(228, 226, 226,0.1);
       p{
        padding: 30px 0px;
       }
    }
}