<header>
	<div class="overlay">
<h1>ArkaTech </h1>
<h3>Conserva il tuo Pg sempre con te</h3>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero nostrum quis, odio veniam itaque ullam debitis qui magnam consequatur ab. Vero nostrum quis, odio veniam itaque ullam debitis qui magnam consequatur ab.</p>
	<br>
	<button>Chi siamo</button>
		</div>
</header>
<section id="section1">
    <div class="cardHome">
        <h2>Crea un PG</h2>
        <img src="../../../assets/lodoAdd.png" alt="">
    </div>
    <div class="cardHome" >
        <h2>Visualizza PG</h2>
        <img src="../../../assets/log.jpg" alt="">
    </div>
    <div class="cardHome" >
        <h2>Compara PG</h2>
        <img src="../../../assets/dado.png" alt="">
    </div>
</section>

<section id="section2">
    <div id="img">
        
    </div>
    <div id="text">
        <h2>Regole del Gioco</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur non excepturi esse, corrupti soluta praesentium ut, asperiores repellendus natus velit aliquam vero quam dolorum, maxime placeat maiores amet ex nisi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis rerum repudiandae, perspiciatis nam ipsam cumque incidunt facere optio commodi laborum iste consequatur ab quibusdam inventore officiis suscipit minima iure? Commodi!
        </p>
    </div>
</section>
<section *ngIf="flagLog">
    <app-card-user></app-card-user>

</section>
