#main{
   position: relative;
    app-spinner{
      
    }
    section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        &>app-card-pg{
            margin: 20px;
        }
    }
}