
<app-alert (choise)="pickValueFromAlert(false)"></app-alert>
<div class="movie-card" id="printPg">
  <button id="download-button" (click)="openPDF()">
    <svg width="30px" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128"><defs><style>.cls-1{fill:#2e79bd;}.cls-2{fill:#2d3e50;}</style></defs><title>x</title><path class="cls-1" d="M120.95739,82.11254a6.95115,6.95115,0,0,0-8.90605,4.16184l-3.72153,10.2512a2.90051,2.90051,0,0,1-2.72006,1.90414H22.39291a2.906,2.906,0,0,1-2.72322-1.906l-3.721-10.24932a6.95117,6.95117,0,0,0-13.06789,4.744L6.6026,101.26995a16.85123,16.85123,0,0,0,15.79031,11.06192h83.21683a16.843,16.843,0,0,0,15.78847-11.064l3.721-10.24948A6.95114,6.95114,0,0,0,120.95739,82.11254Z"/><path class="cls-2" d="M87.66688,66.17821V47.43306l-.01966-.02953-16.83785,11.53v-36.456a6.80941,6.80941,0,1,0-13.61881,0V58.86275L40.45609,47.40353l-.123.17955v18.5238L64.05163,82.348Z"/></svg>
  </button>
    <div class="container" >
      
      <a href="#"><img width="250px" src="../../../assets/{{pg.race}}.png" alt="cover" class="cover" /></a>
          
      <div class="hero">
              
        <div class="details">
        
          <div class="title1">{{pg.characterName}} <span>{{pg.aclass}}</span></div>
           
            <ul>
                <li><h4>Armor : </h4></li>
                <li>Scimitar</li>
                <li>Daga</li>
                <li>Wood</li>
            </ul>
            
            <ul>
                <li><h4>Weapons :</h4></li>
                <li>Scimitar</li>
                <li>Daga</li>
                <li>Wood</li>
            </ul>
          
          
        
          
        </div> <!-- end details -->
        
      </div> <!-- end hero -->
      
      <div class="description">
        
        <div class="column1">
          <span class="tag">{{pg.race}}</span>
          <span class="tag">{{pg.background}}</span>
          <span class="tag">{{pg.alignment}}</span>
          <div class="statics">
       
            <div>
                <h3>STR</h3>
                <label for="">{{pg.str}}</label>
            </div>
            <div>
                <h3>DEX</h3>
                <label for="">{{pg.dex}}</label>
            </div>
            <div>
                <h3>CON</h3>
                <label for="">{{pg.oint}}</label>
            </div>
            <div>
                <h3>WIS</h3>
                <label for="">{{pg.wis}}</label>
            </div>
            <div>
                <h3>CHA</h3>
                <label for="">{{pg.cha}}</label>
            </div>
            
          </div> <!-- end avatars -->
        </div> <!-- end column1 -->
        
        <div class="column2">
            <label for="">Personality Traits: </label>
            <p>{{pg.personalityTraits}}</p>
            <hr>
            <label for="">Ideals: </label>
            <p>{{pg.ideals}}</p>
            <hr>
            <label for="">Bonds: </label>
            <p>{{pg.bonds}}</p>
            <hr>
            <label for="">Flaws: </label>
            <p>{{pg.flaws}}</p>
            <hr>
            <label for="">Race Bonuses: </label>
            <p>{{pg.raceBonuses}}</p>
            <hr>
            <label for="">Race And Features: </label>
            <p>{{pg.raceAndFeatures}}</p>
            <hr>
            <label for="">Features And Traits: </label>
            <p>{{pg.featuresAndTraits}}</p>
          
          
          
          
        </div> <!-- end column2 -->
      </div> <!-- end description -->
      
     
    </div> <!-- end container -->
    <div id="controller">
      <a href="http://localhost:4200/pg/{{pgPrevId}}">
        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128"><defs><style>.cls-1{fill:#2d3e50;}</style></defs><title>x</title><path class="cls-1" d="M64,3.80554A60.19446,60.19446,0,1,0,124.19445,64,60.19753,60.19753,0,0,0,64,3.80554ZM75.38043,52.40581,63.79852,64,75.38043,75.59419V96.58855L42.7919,64,75.38043,31.41145Z"/></svg>
      </a>
      <a href="http://localhost:4200/pg/{{pgNextId}}">
        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128"><defs><style>.cls-1{fill:#2d3e50;}</style></defs><title>x</title><path class="cls-1" d="M3.05843,64A60.94157,60.94157,0,1,0,64,3.05842,60.94469,60.94469,0,0,0,3.05843,64ZM52.47832,31.007,85.47133,64l-32.993,32.993V75.73809L64.204,64,52.47832,52.26191Z"/></svg>
      </a>
    </div>
  </div> <!-- end movie-card -->