
<div class="movie-card">
  
    <div class="container" >
      
      <a href="#"><img width="250px" src="../../../assets/{{pg.race}}.png" alt="cover" class="cover" /></a>
          
      <div class="hero">
              
        <div class="details">
        
          <div class="title1">{{pg.characterName}} <span>{{pg.aclass}}</span></div>
           
            <ul>
                <li><h4>Armor : </h4></li>
                <li>Scimitar</li>
                <li>Daga</li>
                <li>Wood</li>
            </ul>
            
            <ul>
                <li><h4>Weapons :</h4></li>
                <li>Scimitar</li>
                <li>Daga</li>
                <li>Wood</li>
            </ul>
          
          
        
          
        </div> <!-- end details -->
        
      </div> <!-- end hero -->
      
      <div class="description">
        
        <div class="column1">
          <span class="tag">{{pg.race}}</span>
          <span class="tag">{{pg.background}}</span>
          <span class="tag">{{pg.alignment}}</span>
        </div> <!-- end column1 -->
        
        <div class="column2">
            <label for="">Personality Traits: </label>
            <p>{{pg.personalityTraits}}</p>
            <label for="">Ideals: </label>
            <p>{{pg.ideals}}</p>
            <label for="">Bonds: </label>
            <p>{{pg.bonds}}</p>
            <label for="">Flaws: </label>
            <p>{{pg.Flaws}}</p>
            <label for="">Race Bonuses: </label>
            <p>{{pg.raceBonuses}}</p>
            <label for="">Race And Features: </label>
            <p>{{pg.raceAndFeatures}}</p>
            <label for="">Features And Traits: </label>
            <p>{{pg.featuresAndTraits}}</p>
          
          
          
          
        </div> <!-- end column2 -->
      </div> <!-- end description -->
      
      <div class="statics">
       
        <div>
            <h3>STR</h3>
            <label for="">{{pg.str}}</label>
        </div>
        <div>
            <h3>DEX</h3>
            <label for="">{{pg.dex}}</label>
        </div>
        <div>
            <h3>CON</h3>
            <label for="">{{pg.oint}}</label>
        </div>
        <div>
            <h3>WIS</h3>
            <label for="">{{pg.wis}}</label>
        </div>
        <div>
            <h3>CHA</h3>
            <label for="">{{pg.cha}}</label>
        </div>
        
      </div> <!-- end avatars -->
    </div> <!-- end container -->
    
  </div> <!-- end movie-card -->