@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

*, *:before, *:after {
  box-sizing: border-box;
}



a {
  text-decoration: none;
  color: #5C7FB8
}

a:hover {
  text-decoration: underline;
}

.movie-card {
  font: 14px/22px "Lato", Arial, sans-serif;
  color: #A9A8A3;
  padding: 40px 0;
  position: relative;
}
#download-button{
  svg{

    transition-duration: 0.5s;
  }
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  left: -20px;
  top:0px;
  z-index: 9999999999999999999999999999;
 &:hover{
 
  svg{
    transition-duration: 0.5s;
    transform: rotate(180deg);
   
  }
 }
}
.container {
  margin: 0 auto;
  max-width: 780px;
  width: 100vw;
 
  background: #F0F0ED;
  border-radius: 5px;
  position: relative;
}

.hero {
  height: 342px;  
  margin:0;
  position: relative;
  overflow: hidden;
  z-index:1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
    
}

.hero:before {
  content:'';
  width:100%; height:100%;
  position:absolute;
  overflow: hidden;
  top:0; left:0;
  background: url("../../../assets/Dragonborn.webp");
  z-index:-1;
 
  transform: skewY(-2.2deg);
  transform-origin:0 0;
  
  //chrome antialias fix
  -webkit-backface-visibility: hidden; 
  
}

.cover {
  position: absolute;
  top: 160px;
  left: 40px;
  z-index: 2;

}

.details {
  
  padding: 190px 0 0 280px;
  ul{
    display: flex;
    li:first-child{
        background-color: #B1B0AC;
        color: #000;
    }
    li{
        list-style-type: none;
        padding:5px 10px;
        margin:5px 5px;
        background-color: rgb(65, 11, 11);
        border-radius: 5px;
    }
}
  
  .title1 {
    color: white;
    font-size: 44px;
    margin-bottom: 13px;
    position: relative;
    
    span {
      position: absolute;
      top: 3px;
      margin-left: 12px;
      background: #C4AF3D;
      border-radius: 5px;
      color: #544C21;
      font-size: 14px;
      padding: 0px 4px;
      
    }
  }

  .title2 {    
    color: #C7C1BA;
    font-size: 23px;    
    font-weight: 300;
    margin-bottom: 15px;
  }
  
  
  .likes {
    margin-left: 24px;
  }
  
  
  .likes:before {
    content: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/icon_like.png");
    position: relative;
    top: 2px;
    padding-right: 7px;
  }

}

.description {
  
  bottom: 0px;
  height: 200px;
  font-size: 16px;
  line-height: 26px;
  color: #B1B0AC;
  display: flex;
  justify-content: space-around;
}

.column1 {
  padding-left: 50px;
  padding-top: 140px;
  width: 220px;
  float: left;
  text-align: center;
}

.tag {
  background: rgb(39, 2, 2);
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  line-height: 35px;
  color: white;
  cursor: pointer;
  z-index: 99999999;
}

.tag:hover {
  background: #ddd;
}

.column2 {
  padding-left: 41px;
  padding-top: 30px;
  margin-left: 20px;
  width: 480px;
  overflow-y: scroll;
  max-height: 400px;
  color:rgb(77, 75, 75);
  label{
    font-weight: 600;
  }
}

.statics {
    top: 20px;
    
    display: flex;
    justify-content: center;
    &>div{
        margin: 10px 10px;
        padding: 10px;
        border-radius: 10px;
        background-color: rgb(73, 12, 12);
        color: white;
        text-align: center;
    }
}

//star rating stuff via: https://codepen.io/jamesbarnett/pen/vlpkh/

fieldset, label { margin: 0; padding: 0; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  margin-top: 0;
  font-size: 1em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

//tooltip stuff via: https://codepen.io/peiche/pen/JaftA

a[data-tooltip] {
  position: relative;
}
a[data-tooltip]::before,
a[data-tooltip]::after {
  position: absolute;
  display: none;
  opacity: 0.85;
}
a[data-tooltip]::before {
  /*
   * using data-tooltip instead of title so we 
   * don't have the real tooltip overlapping
   */
  content: attr(data-tooltip);
  background: #000;
  color: #fff;
  font-size: 13px;
  padding: 5px;
  border-radius: 5px;
  /* we don't want the text to wrap */
  white-space: nowrap;
  text-decoration: none;
}
a[data-tooltip]::after {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  content: '';
}

a[data-tooltip]:hover::before,
a[data-tooltip]:hover::after {
  display: block;
}

/** positioning **/

/* top tooltip */
a[data-tooltip][data-placement="top"]::before {
  bottom: 100%;
  left: 0;
  margin-bottom: 40px;
}
a[data-tooltip][data-placement="top"]::after {
  border-top-color: #000;
  border-bottom: none;
  bottom: 50px;
  left: 20px;
  margin-bottom: 4px;
}
#controller{
  display: flex;
  justify-content: space-around;
  padding: 10px;
  svg{
    width: 60px;
  }
}
