<section>
    <div>
        <div id="container_pg">
            <div  style="color: white;">
                <img src="../../../assets/{{pg1.race}}.png" alt="">
                {{pg1.characterName}}
                <div style="background-color: black;">
                    <input type="range" [value]="hpPgA" [max]="100"[min]="0">
                    <span>{{hpPgA}}</span>
                </div>
                <button (click)="attackPg2()">
                    attacca
                </button>
                <div>{{pg2.aClasse}} </div> 
                <div>{{pg2.alignment}} </div>
                <div>{{pg2.background}} </div>
                <div>{{pg2.bonds}} </div>
                <div>{{pg2.cha}} </div>
                <div>{{pg2.chaMod}} </div>
                <div>{{pg2.characterName}} </div>
                <div>{{pg2.classLevel}} </div>
                <div>{{pg2.con}} </div>
                <div>{{pg2.conMod}} </div>
                <div>{{pg2.dex}} </div>
                <div>{{pg2.dexMod}} </div>
                <div>{{pg2.featuresAndTraits}} </div>
                <div>{{pg2.flaws}} </div>
                <div>{{pg2.hd}} </div>
                <div>{{pg2.hdTotal}} </div>
                <div>{{pg2.hpMax}} </div>
                <div>{{pg2.id}} </div>
                <div>{{pg2.ideals}} </div>
                <div>{{pg2.initiative}} </div>
                <div>{{pg2.intMod}} </div>
                <div>{{pg2.oint}} </div>
                <div>{{pg2.passive}} </div>
                <div>{{pg2.personalityTraits}} </div>
                <div>{{pg2.profBonus}} </div>
                <div>{{pg2.race}} </div>
                <div>{{pg2.raceAndFeatures}} </div>
                <div>{{pg2.raceBonuses}} </div>
                <div>{{pg2.speed}} </div>
                <div>{{pg2.str}} </div>
                <div>{{pg2.strMod}} </div>
                <div>{{pg2.userId}} </div>
                <div>{{pg2.wis}} </div>
                <div>{{pg2.wisMod}} </div>
                <div>{{pg2.xp}} </div>
            </div>
            <div  style="color: white;">
                <img src="../../../assets/{{pg2.race}}.png" alt="">
                {{pg2.characterName}}
                <div style="background-color: black;">
                    <input type="range" [value]="hpPgB" [max]="100"[min]="0">
                    <span>{{hpPgB}}</span>
                </div>
                <button (click)="attackPg1()">
                    attacca
                </button>
                <div>{{pg1.aClasse}}</div>
                <div>{{pg1.alignment}}</div>
                <div>{{pg1.background}}</div>
                <div>{{pg1.bonds}}</div>
                <div>{{pg1.cha}}</div>
                <div>{{pg1.chaMod}}</div>
                <div>{{pg1.characterName}}</div>
                <div>{{pg1.classLevel}}</div>
                <div>{{pg1.con}}</div>
                <div>{{pg1.conMod}}</div>
                <div>{{pg1.dex}}</div>
                <div>{{pg1.dexMod}}</div>
                <div>{{pg1.featuresAndTraits}}</div>
                <div>{{pg1.flaws}}</div>
                <div>{{pg1.hd}}</div>
                <div>{{pg1.hdTotal}}</div>
                <div>{{pg1.hpMax}}</div>
                <div>{{pg1.id}}</div>
                <div>{{pg1.ideals}}</div>
                <div>{{pg1.initiative}}</div>
                <div>{{pg1.intMod}}</div>
                <div>{{pg1.oint}}</div>
                <div>{{pg1.passive}}</div>
                <div>{{pg1.personalityTraits}}</div>
                <div>{{pg1.profBonus}}</div>
                <div>{{pg1.race}}</div>
                <div>{{pg1.raceAndFeatures}}</div>
                <div>{{pg1.raceBonuses}}</div>
                <div>{{pg1.speed}}</div>
                <div>{{pg1.str}}</div>
                <div>{{pg1.strMod}}</div>
                <div>{{pg1.userId}}</div>
                <div>{{pg1.wis}}</div>
                <div>{{pg1.wisMod}}</div>
                <div>{{pg1.xp}}</div>
            </div>
        </div>
    </div>
</section>
